@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-8">
        <h3>This web app. is made to show all taken, and available parking spots.</h3>
        <p>This app. should show (at any moment) where you can park your car 
        (on a building's private parking lot).<br/>
         Every neighbour have his own number (of his flat/apartment),
         so when he park his car - he should check himself in on that specific parking place. That's how his 
        number will be connected dynamically with that parking spot.
         That is how all other neighbours are going to see where they can park..<br/>
        Also, there are a few rules:<br/>
        <ul>
            <li>You can not occupy more than one park spot. (You are welcome to try.. :) </li>
            <li>You can not erase some other's car/spot. (You can try.. :) )</li>
            <li>You can not occupy the spot which is already occupied... </li>
        </ul> 
        That's it.</p>
        <hr />

    </div>
    <div class="col-md-3"></div>
</div>

<p> </p>